/* Denna fil skall innehålla din CSS kod */
* {
    margin: 0px;
}

body {
    background-image: url(../img/hav.jpg);
}

#gridwrapper {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 7fr 5fr 3fr;

    grid-template-areas: 
    'he'
    'na'
    'ar1'
    'ar2'
    'fo';
}

.header {
    display: flex;
    grid-area: he;
    background: whitesmoke;
    justify-content: center;
}

.nav {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: na;
    background: rgb(0, 21, 92);
    height: 65px;
    font-family: HouseScript; 
    color: whitesmoke;
}

.innernav {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

.article1 {
    grid-area: ar1;
    background: powderblue;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    background-image: url(../img/mat.jpg);
    background-size: 100%;
    border-style: ridge;
}

.article2 {
    display: flex;
    grid-area: ar2;
    background: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    border-style: ridge;
}

.footer {
    grid-area: fo;
    background: whitesmoke;
}